@import url('opensans.css');

/*
** Classes added via Javascript/JQuery
*/
.hidden
{
	display: none;
}

.valid
{
	border: 1px solid green;
}

.invalid
{
	border: 1px solid red;
}

.error
{
	/*background-color: #ffe0e0;*/
	font-weight: bold;
	font-size: 0.8rem;
}

.error img
{
	margin-right: 1em;
}

.errortext
{
	margin-top: 0;
	margin-bottom: 1em;
}

.errortext:last-child
{
	margin-bottom: 1.6em;
}

#dimmed
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 1 !important;
}

#errordialog
{
	position: fixed;
	display: block;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 25em;
	height: 8em;
	padding: 1.3em 1em;
	background-color: white;
	box-shadow: 0 0 1em black;
	color: black;
	z-index: 2 !important;
	text-align: center;
}

#errordialog h3
{
	margin-top: 0;
}

#errordialog input
{
	width: 40%;
}

.help
{
	padding: 1em;
	background-color: #ffffd0;
}

/**
**	Basic Styling (fonts and background colours)	
**/
body
{
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin: 0;
}

.container
{
	padding-left: 1em;
	padding-right: 1em;
	background-color: white;
}


/*
** Main Page Styling
*/

header
{
	margin-top: 5em;
}

footer
{
	padding: 0.5em;
}

/* SVG logo */
svg
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

/* Headings */
h1
{
	text-align: center;
}

h1, h2, h3, h4, label
{
	color: #0000c8;
}

label, input, select
{
	display: inline-block;
	width: 100%;
}

input, select
{
	padding: 0.5em 0em;
	margin-bottom: 1em;
	font-size: 1rem;
}

/* Form inputs and labels */
label[for^="Have"], input[name^="Have"], label[for^="UseRes"]
{
	width: 47%;
}

label[for^="Child"] ,input[name^="Child"]
{
	display: inline-block;
	width: 40% !important;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

input[type="radio"]
{
	width: 5%;
	margin-right: 3em;
}

/* Checkbox Groups */
.checkboxgroup
{
	column-count: 2;
	margin-bottom: 1em;
}

.checkboxgroup label
{
	width: 50%;
}

.checkboxgroup input
{
	width: 20%;
}

.radiotext
{
	width: 5% !important;
}

fieldset
{
	border: 0;
}

.required
{
	font-size: 0.9em;
	color: red;
	text-align: right;
}

/*
** Progress indicator at viewport top
*/
#progressbox
{
	background-color: #e9e9e9;
	border-bottom: 1px solid silver;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	text-align: center;
}

#progressbox h3, h4
{
	margin-top: 0;
	margin-bottom: 0.2em;
}

/*
** Medium-sized screens
*/
@media screen and (min-width: 750px)
{
	h1
	{
		font-size: 3.5rem;
	}
	
	form
	{
		width: 75%;
		margin: 0 auto;
	}
	
	label
	{
		display: inline-block;
		padding-right: 0.5em;
		width: 30% !important;
	}
	
	.radiotext
	{
		padding-right: 0.1em;
	}
	
	.checkboxgroup
	{
		column-count: 1;
	}
	
	.checkboxgroup label
	{
		width: 40% !important;
	}
		
	input, select
	{
		display: inline-block;
		margin-right: 1em;
		width: 60%;
	}
	
	input[type="button"], input[type="reset"], input[type="submit"]
	{
		width: 40%;
	}
}

/*
** Large-screens
*/
@media screen and (min-width: 900px)
{
	.container
	{
		width: 900px;
		margin: 0 auto;
	}
}